In [1]:
#Importing the libraries
import pandas as pd
from nsetools import Nse

In [2]:
nse = Nse()

In [3]:
nse.get_index_list()

['NIFTY 50 Pre Open',
 'NIFTY 50',
 'NIFTY NEXT 50',
 'NIFTY100 LIQ 15',
 'NIFTY BANK',
 'INDIA VIX',
 'NIFTY 100',
 'NIFTY 500',
 'NIFTY MIDCAP 100',
 'NIFTY MIDCAP 50',
 'NIFTY INFRA',
 'NIFTY REALTY',
 'NIFTY ENERGY',
 'NIFTY FMCG',
 'NIFTY MNC',
 'NIFTY PHARMA',
 'NIFTY PSE',
 'NIFTY PSU BANK',
 'NIFTY SERV SECTOR',
 'NIFTY IT',
 'NIFTY SMLCAP 100',
 'NIFTY 200',
 'NIFTY AUTO',
 'NIFTY MEDIA',
 'NIFTY METAL',
 'NIFTY DIV OPPS 50',
 'NIFTY COMMODITIES',
 'NIFTY CONSUMPTION',
 'NIFTY CPSE',
 'NIFTY FIN SERVICE',
 'NIFTY GROWSECT 15',
 'NIFTY50 VALUE 20',
 'NIFTY50 TR 2X LEV',
 'NIFTY50 PR 2X LEV',
 'NIFTY50 TR 1X INV',
 'NIFTY50 PR 1X INV',
 'NIFTY ALPHA 50',
 'NIFTY50 EQL WGT',
 'NIFTY100 EQL WGT',
 'NIFTY100 LOWVOL30',
 'NIFTY MID LIQ 15',
 'NIFTY PVT BANK',
 'NIFTY100 QUALTY30',
 'NIFTY GS 8 13YR',
 'NIFTY GS 10YR',
 'NIFTY GS 10YR CLN',
 'NIFTY GS 4 8YR',
 'NIFTY GS 11 15YR',
 'NIFTY GS 15YRPLUS',
 'NIFTY GS COMPSITE',
 'NIFTY MIDCAP 150',
 'NIFTY SMLCAP 50',
 'NIFTY SMLCAP 250',
 'NIFTY MIDSML 400',
 'NIFTY200 QUALTY30']

In [4]:
nse.get_index_quote('Nifty 500')

{'name': 'NIFTY 500',
 'lastPrice': 15432.8,
 'change': 14.45,
 'pChange': 0.09,
 'imgFileName': 'NIFTY_500_open.png'}

In [5]:
top_gainers = pd.DataFrame(nse.get_top_gainers())
top_gainers

,symbol,series,openPrice,highPrice,lowPrice,ltp,previousPrice,netPrice,tradedQuantity,turnoverInLakhs,lastCorpAnnouncementDate,lastCorpAnnouncement
0,TITAN,EQ,2502.80,2596.00,2497.50,2575.00,2503.55,2.85,2443430.0,62826.45,08-Jul-2022,Annual General Meeting/Dividend - Rs 7.50 Per ...
1,M&M,EQ,1229.85,1255.00,1225.00,1254.10,1234.25,1.61,1959508.0,24440.75,14-Jul-2022,Annual General Meeting/Dividend - Rs 11.55 Per...
2,POWERGRID,EQ,212.50,218.40,212.50,215.90,212.65,1.53,12611662.0,27140.30,14-Nov-2022,Interim Dividend - Rs 5 Per Share
3,MARUTI,EQ,8315.00,8453.50,8287.60,8415.00,8305.45,1.32,538632.0,45273.90,03-Aug-2022,Dividend - Rs 60 Per Share
4,UPL,EQ,716.00,731.90,714.00,724.90,716.35,1.19,3025343.0,21902.58,27-Jul-2022,Dividend - Rs 10 Per Share
5,ADANIENT,EQ,3756.05,3825.00,3745.00,3797.95,3769.65,0.75,1377950.0,52152.65,14-Jul-2022,Dividend - Re 1 Per Share
6,COALINDIA,EQ,221.25,224.25,220.55,222.85,221.25,0.72,3015714.0,6725.95,15-Nov-2022,Interim Dividend - Rs 15 Per Share
7,INDUSINDBK,EQ,1198.00,1227.00,1194.00,1210.40,1202.35,0.67,2834356.0,34419.85,11-Aug-2022,Annual General Meeting/Dividend - Rs 8.50 Per ...
8,TECHM,EQ,1005.30,1019.40,1002.20,1015.00,1009.55,0.54,1077963.0,10924.40,09-Nov-2022,Special Dividend - Rs 18 Per Share
9,GRASIM,EQ,1731.00,1768.10,1731.00,1746.00,1739.40,0.38,361338.0,6341.16,11-Aug-2022,Annual General Meeting/Dividend - Rs 5 Per Sha...

In [6]:
adv_dec = pd.DataFrame(nse.get_advances_declines())
adv_dec

                indice  advances  declines  unchanged
0             NIFTY 50      19.0      31.0        0.0
1        NIFTY NEXT 50      19.0      31.0        0.0
2             NIFTY IT       3.0       7.0        0.0
3           NIFTY BANK       4.0       8.0        0.0
4      NIFTY MIDCAP 50      22.0      27.0        1.0
..                 ...       ...       ...        ...
72   NIFTY MICROCAP250     159.0      89.0        2.0
73   NIFTY IND DIGITAL      12.0      18.0        0.0
74        NIFTY100 ESG      24.0      58.0        0.0
75   NIFTY M150 QLTY50      22.0      28.0        0.0
76  CNX NIFTY Pre Open       6.0      40.0        4.0

[77 rows x 4 columns]