In [1]:
#Importing the libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime
import yfinance as yf

In [2]:
Nifty50 = ['HINDALCO.NS', 'TATASTEEL.NS', 'JSWSTEEL.NS', 'TATAMOTORS.NS', 'ONGC.NS', 'ASIANPAINT.NS', 'WIPRO.NS', 'DIVISLAB.NS', 'LT.NS', 'ADANIENT.NS', 'ADANIPORTS.NS', 'BAJAJ-AUTO.NS', 'BAJFINANCE.NS', 'EICHERMOT.NS', 'ICICIBANK.NS', 'GRASIM.NS', 'INFY.NS', 'TECHM.NS', 'TITAN.NS', 'SBIN.NS', 'RELIANCE.NS', 'MARUTI.NS', 'INDUSINDBK.NS', 'BHARTIARTL.NS', 'AXISBANK.NS', 'BPCL.NS', 'HEROMOTOCO.NS', 'HCLTECH.NS', 'ULTRACEMCO.NS', 'KOTAKBANK.NS', 'TATACONSUM.NS', 'POWERGRID.NS', 'COALINDIA.NS', 'TCS.NS', 'BAJAJFINSV.NS', 'DRREDDY.NS', 'CIPLA.NS', 'UPL.NS', 'HDFCBANK.NS', 'HDFC.NS', 'SUNPHARMA.NS', 'HDFCLIFE.NS', 'SBILIFE.NS', 'BRITANNIA.NS', 'NTPC.NS', 'ITC.NS', 'M&M.NS', 'NESTLEIND.NS', 'APOLLOHOSP.NS', 'HINDUNILVR.NS']

In [3]:
stockStartDate = '2015-01-01'
today = datetime.today().strftime('%Y-%m-%d')

In [4]:
Nifty = yf.download('^NSEI', start= stockStartDate, end= today)
Nifty = Nifty.filter(['Close'])
Nifty

[*********************100%***********************]  1 of 1 completed

                   Close
Date
2015-01-02   8395.450195
2015-01-05   8378.400391
2015-01-06   8127.350098
2015-01-07   8102.100098
2015-01-08   8234.599609
...                  ...
2022-12-22  18127.349609
2022-12-23  17806.800781
2022-12-26  18014.599609
2022-12-27  18132.300781
2022-12-28  18122.500000

[1966 rows x 1 columns]

In [5]:
#Importing the data
df = pd.DataFrame()

for stock in Nifty50:
    df[stock] = yf.download(stock, data_source=' yahoo', start= stockStartDate, end= today)['Adj Close']

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [6]:
df

,HINDALCO.NS,TATASTEEL.NS,JSWSTEEL.NS,TATAMOTORS.NS,ONGC.NS,ASIANPAINT.NS,WIPRO.NS,DIVISLAB.NS,LT.NS,ADANIENT.NS,...,SUNPHARMA.NS,HDFCLIFE.NS,SBILIFE.NS,BRITANNIA.NS,NTPC.NS,ITC.NS,M&M.NS,NESTLEIND.NS,APOLLOHOSP.NS,HINDUNILVR.NS
Date,,,,,,,,,,,,,,,,,,,,,
2015-01-01,149.564346,14.594912,88.688499,492.960724,155.133575,709.613770,195.379013,814.255676,872.795044,70.727570,...,780.251099,NaN,NaN,811.325745,83.845093,195.391068,574.012817,5647.146484,1093.238403,663.048645
2015-01-02,151.121857,14.822254,88.958923,506.163696,157.455734,734.146851,197.112106,817.731262,891.203918,71.073997,...,784.094543,NaN,NaN,832.168091,84.992867,196.003052,568.258972,5659.257324,1095.131958,660.862915
2015-01-05,148.054092,15.036963,88.746735,518.031555,159.236801,734.099487,197.465820,812.809570,903.602356,72.250381,...,784.568970,NaN,NaN,832.744141,84.757408,196.774734,565.382080,5662.295410,1098.772827,664.665710
2015-01-06,144.797546,14.308031,85.510056,495.878235,150.218704,716.575806,192.850113,780.994202,873.462952,71.701881,...,767.297607,NaN,NaN,833.651978,81.932159,191.718994,562.226746,5583.552246,1066.050659,677.254639
2015-01-07,140.549911,14.033778,84.191261,488.411377,152.428101,730.973816,191.382309,769.564880,871.372314,71.066780,...,768.483643,NaN,NaN,884.085815,83.903954,188.153366,568.026978,5606.923828,1074.401001,701.033264
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-12-22,455.500000,107.650002,737.549988,394.450012,142.250000,3088.550049,388.750000,3495.899902,2109.949951,3868.550049,...,1010.650024,577.849976,1244.750000,4391.450195,165.899994,332.450012,1233.949951,20306.599609,4781.700195,2645.350098
2022-12-23,429.549988,102.250000,727.849976,378.350006,139.800003,3057.899902,377.649994,3498.449951,2062.750000,3642.199951,...,1001.549988,565.450012,1224.599976,4331.899902,163.000000,326.700012,1224.599976,20132.750000,4700.149902,2621.100098
2022-12-26,442.950012,105.000000,732.200012,384.799988,141.300003,3056.050049,380.500000,3428.800049,2091.050049,3716.750000,...,1000.049988,569.299988,1243.300049,4375.350098,165.649994,334.600006,1237.050049,19897.500000,4684.049805,2617.449951
2022-12-27,471.000000,111.150002,764.950012,394.149994,144.800003,3112.600098,386.600006,3477.100098,2124.100098,3769.649902,...,1000.150024,569.799988,1241.050049,4369.250000,165.199997,333.149994,1234.250000,19776.000000,4643.799805,2593.250000
2022-12-28,465.950012,110.000000,761.700012,391.299988,143.899994,3123.699951,387.799988,3446.350098,2121.100098,3797.699951,...,995.000000,568.200012,1242.050049,4385.950195,165.850006,334.399994,1252.349976,19843.599609,4588.649902,2583.600098

In [7]:
df.dropna(axis=1, inplace=True)
df

,HINDALCO.NS,TATASTEEL.NS,JSWSTEEL.NS,TATAMOTORS.NS,ONGC.NS,ASIANPAINT.NS,WIPRO.NS,DIVISLAB.NS,LT.NS,ADANIENT.NS,...,HDFCBANK.NS,HDFC.NS,SUNPHARMA.NS,BRITANNIA.NS,NTPC.NS,ITC.NS,M&M.NS,NESTLEIND.NS,APOLLOHOSP.NS,HINDUNILVR.NS
Date,,,,,,,,,,,,,,,,,,,,,
2015-01-01,149.564346,14.594912,88.688499,492.960724,155.133575,709.613770,195.379013,814.255676,872.795044,70.727570,...,451.475220,730.087158,780.251099,811.325745,83.845093,195.391068,574.012817,5647.146484,1093.238403,663.048645
2015-01-02,151.121857,14.822254,88.958923,506.163696,157.455734,734.146851,197.112106,817.731262,891.203918,71.073997,...,457.758606,730.087158,784.094543,832.168091,84.992867,196.003052,568.258972,5659.257324,1095.131958,660.862915
2015-01-05,148.054092,15.036963,88.746735,518.031555,159.236801,734.099487,197.465820,812.809570,903.602356,72.250381,...,453.893768,730.087158,784.568970,832.744141,84.757408,196.774734,565.382080,5662.295410,1098.772827,664.665710
2015-01-06,144.797546,14.308031,85.510056,495.878235,150.218704,716.575806,192.850113,780.994202,873.462952,71.701881,...,446.827942,730.087158,767.297607,833.651978,81.932159,191.718994,562.226746,5583.552246,1066.050659,677.254639
2015-01-07,140.549911,14.033778,84.191261,488.411377,152.428101,730.973816,191.382309,769.564880,871.372314,71.066780,...,448.132080,730.087158,768.483643,884.085815,83.903954,188.153366,568.026978,5606.923828,1074.401001,701.033264
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-12-22,455.500000,107.650002,737.549988,394.450012,142.250000,3088.550049,388.750000,3495.899902,2109.949951,3868.550049,...,1612.050049,2644.449951,1010.650024,4391.450195,165.899994,332.450012,1233.949951,20306.599609,4781.700195,2645.350098
2022-12-23,429.549988,102.250000,727.849976,378.350006,139.800003,3057.899902,377.649994,3498.449951,2062.750000,3642.199951,...,1597.650024,2623.050049,1001.549988,4331.899902,163.000000,326.700012,1224.599976,20132.750000,4700.149902,2621.100098
2022-12-26,442.950012,105.000000,732.200012,384.799988,141.300003,3056.050049,380.500000,3428.800049,2091.050049,3716.750000,...,1629.449951,2665.100098,1000.049988,4375.350098,165.649994,334.600006,1237.050049,19897.500000,4684.049805,2617.449951
2022-12-27,471.000000,111.150002,764.950012,394.149994,144.800003,3112.600098,386.600006,3477.100098,2124.100098,3769.649902,...,1631.099976,2669.100098,1000.150024,4369.250000,165.199997,333.149994,1234.250000,19776.000000,4643.799805,2593.250000
2022-12-28,465.950012,110.000000,761.700012,391.299988,143.899994,3123.699951,387.799988,3446.350098,2121.100098,3797.699951,...,1629.800049,2671.300049,995.000000,4385.950195,165.850006,334.399994,1252.349976,19843.599609,4588.649902,2583.600098

In [8]:
#Get sdr
daily_simple_returns = df.pct_change()
daily_simple_returns

,HINDALCO.NS,TATASTEEL.NS,JSWSTEEL.NS,TATAMOTORS.NS,ONGC.NS,ASIANPAINT.NS,WIPRO.NS,DIVISLAB.NS,LT.NS,ADANIENT.NS,...,HDFCBANK.NS,HDFC.NS,SUNPHARMA.NS,BRITANNIA.NS,NTPC.NS,ITC.NS,M&M.NS,NESTLEIND.NS,APOLLOHOSP.NS,HINDUNILVR.NS
Date,,,,,,,,,,,,,,,,,,,,,
2015-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-01-02,0.010414,0.015577,0.003049,0.026783,0.014969,0.034572,0.008870,0.004268,0.021092,0.004898,...,0.013917,0.000000,0.004926,0.025689,0.013689,0.003132,-0.010024,0.002145,0.001732,-0.003296
2015-01-05,-0.020300,0.014486,-0.002385,0.023447,0.011312,-0.000065,0.001794,-0.006019,0.013912,0.016552,...,-0.008443,0.000000,0.000605,0.000692,-0.002770,0.003937,-0.005063,0.000537,0.003325,0.005754
2015-01-06,-0.021996,-0.048476,-0.036471,-0.042764,-0.056633,-0.023871,-0.023375,-0.039142,-0.033355,-0.007592,...,-0.015567,0.000000,-0.022014,0.001090,-0.033333,-0.025693,-0.005581,-0.013907,-0.029781,0.018940
2015-01-07,-0.029335,-0.019168,-0.015423,-0.015058,0.014708,0.020093,-0.007611,-0.014634,-0.002394,-0.008858,...,0.002919,0.000000,0.001546,0.060497,0.024066,-0.018598,0.010317,0.004186,0.007833,0.035110
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-12-22,-0.003609,-0.015996,-0.007469,-0.020243,-0.008711,0.006157,-0.001926,-0.006494,-0.016936,-0.008560,...,-0.003431,-0.004667,0.005022,-0.006201,-0.012206,-0.008056,-0.025085,-0.000374,0.003252,-0.007820
2022-12-23,-0.056970,-0.050163,-0.013152,-0.040816,-0.017223,-0.009924,-0.028553,0.000729,-0.022370,-0.058510,...,-0.008933,-0.008092,-0.009004,-0.013561,-0.017480,-0.017296,-0.007577,-0.008561,-0.017055,-0.009167
2022-12-26,0.031195,0.026895,0.005977,0.017048,0.010730,-0.000605,0.007547,-0.019909,0.013720,0.020468,...,0.019904,0.016031,-0.001498,0.010030,0.016258,0.024181,0.010167,-0.011685,-0.003425,-0.001393
2022-12-27,0.063325,0.058571,0.044728,0.024298,0.024770,0.018504,0.016032,0.014087,0.015805,0.014233,...,0.001013,0.001501,0.000100,-0.001394,-0.002717,-0.004334,-0.002263,-0.006106,-0.008593,-0.009246
2022-12-28,-0.010722,-0.010346,-0.004249,-0.007231,-0.006216,0.003566,0.003104,-0.008844,-0.001412,0.007441,...,-0.000797,0.000824,-0.005149,0.003822,0.003935,0.003752,0.014665,0.003418,-0.011876,-0.003721

In [9]:
dsr_nifty = Nifty.pct_change()
dsr_nifty

               Close
Date
2015-01-02       NaN
2015-01-05 -0.002031
2015-01-06 -0.029964
2015-01-07 -0.003107
2015-01-08  0.016354
...              ...
2022-12-22 -0.003943
2022-12-23 -0.017683
2022-12-26  0.011670
2022-12-27  0.006534
2022-12-28 -0.000541

[1966 rows x 1 columns]

In [10]:
#Get annualised returns
annual_returns = daily_simple_returns.mean() * 252
annual_returns

HINDALCO.NS      0.231573
TATASTEEL.NS     0.373193
JSWSTEEL.NS      0.340474
TATAMOTORS.NS    0.069947
ONGC.NS          0.051377
ASIANPAINT.NS    0.224427
WIPRO.NS         0.121023
DIVISLAB.NS      0.239049
LT.NS            0.151806
ADANIENT.NS      0.645656
ADANIPORTS.NS    0.191340
BAJAJ-AUTO.NS    0.110091
BAJFINANCE.NS    0.450366
EICHERMOT.NS     0.166242
ICICIBANK.NS     0.199238
GRASIM.NS        0.206832
INFY.NS          0.205937
TECHM.NS         0.129960
TITAN.NS         0.301555
SBIN.NS          0.153304
RELIANCE.NS      0.273749
MARUTI.NS        0.171387
INDUSINDBK.NS    0.146356
BHARTIARTL.NS    0.168548
AXISBANK.NS      0.147350
BPCL.NS          0.170907
HEROMOTOCO.NS    0.052330
HCLTECH.NS       0.181979
ULTRACEMCO.NS    0.168188
KOTAKBANK.NS     0.174488
TATACONSUM.NS    0.276025
POWERGRID.NS     0.165507
COALINDIA.NS     0.063830
TCS.NS           0.168728
BAJAJFINSV.NS    0.380335
DRREDDY.NS       0.085863
CIPLA.NS         0.111008
UPL.NS           0.223760
HDFCBANK.NS      0.191342
HDFC.NS          0.215443
SUNPHARMA.NS     0.080906
BRITANNIA.NS     0.248775
NTPC.NS          0.122174
ITC.NS           0.104235
M&M.NS           0.147653
NESTLEIND.NS     0.189952
APOLLOHOSP.NS    0.242377
HINDUNILVR.NS    0.201283
dtype: float64

In [11]:
ar_nifty = dsr_nifty.mean() * 252
ar_nifty

Close    0.114298
dtype: float64

In [12]:
for i in range(0, len(annual_returns)):
    if annual_returns[i] > 0.114425 :
        print(annual_returns.index[i], ':', annual_returns[i])

HINDALCO.NS : 0.23157318662625576
TATASTEEL.NS : 0.37319314241641394
JSWSTEEL.NS : 0.34047421702062125
ASIANPAINT.NS : 0.22442690550543826
WIPRO.NS : 0.12102319824638896
DIVISLAB.NS : 0.2390492262335782
LT.NS : 0.151805965082322
ADANIENT.NS : 0.6456563102714986
ADANIPORTS.NS : 0.19134035639566796
BAJFINANCE.NS : 0.450365571405049
EICHERMOT.NS : 0.16624231107768497
ICICIBANK.NS : 0.19923806620847787
GRASIM.NS : 0.2068323127601531
INFY.NS : 0.20593684697015147
TECHM.NS : 0.12995964102826163
TITAN.NS : 0.30155471741056344
SBIN.NS : 0.1533035052986075
RELIANCE.NS : 0.2737494201212777
MARUTI.NS : 0.1713867616701948
INDUSINDBK.NS : 0.14635634301415784
BHARTIARTL.NS : 0.16854798836822524
AXISBANK.NS : 0.14734991201207587
BPCL.NS : 0.17090729620990358
HCLTECH.NS : 0.18197936767873996
ULTRACEMCO.NS : 0.16818817322668422
KOTAKBANK.NS : 0.17448815224326772
TATACONSUM.NS : 0.2760246577960689
POWERGRID.NS : 0.1655065373510363
TCS.NS : 0.16872771670796954
BAJAJFINSV.NS : 0.38033538891534324
UPL.NS : 0.22376019072743
HDFCBANK.NS : 0.19134192832646293
HDFC.NS : 0.21544254345377536
BRITANNIA.NS : 0.2487750905536399
NTPC.NS : 0.1221744885711345
M&M.NS : 0.14765287186765982
NESTLEIND.NS : 0.18995155442025288
APOLLOHOSP.NS : 0.24237724085920656
HINDUNILVR.NS : 0.20128292208859627